.window {
    position: absolute;
    border: 1px solid green;
    background-color: white;
}

.window .header {
    background-color: deeppink;
    padding: 0.5em;
}

.window .header button, .window .footer button {
    background-color: transparent;
    border-width: 0;
}

.launcher {
    font-size: 300%;
}


.command-bar {
    border: 1px solid red;
    position: absolute;
    background-color: deeppink;
    padding: 0.5em;
    border-radius: 2em;
    top:1rem;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
}
.command-bar input {
    flex: 1;
    font-size: 1.5rem;
    padding: 0.25rem;
    border-radius: 1em;
    background-color: lightpink;
    border: 2px solid pink;
    margin: 0 auto;
    padding-left: 0.5em;
}

.command-bar .dropdown {
    border: 1px solid red;
    position: absolute;
    left: 1em;
    top: 2.5em;
    background-color: #eee;
    list-style: none;
    padding: 0;
}
.command-bar .dropdown li {
    padding: 0.25em 0.5em;
}


.notifications {
    border: 0px solid red;
    background-color: transparent;
}