.window {
    position: absolute;
    border: 1px solid green;
    background-color: white;
}

.window header {
    background-color: deeppink;
    padding: 0.5em;
}

.launcher {
    font-size: 300%;
}
