html, body {
  padding:0;
  margin:0;
}
#main-grid {
  display: grid;
  width: 100vw;
  height: 100vh;

  background: gray;

  grid-template-columns: [main] 2fr [center] 1fr [dashboard]15rem [end];
  grid-template-rows: [menubar] 2em [main] 1fr [center] 1fr [end];


  --bg1: #ffffff;
  --border-color: black;
  --bg2: #f0f0f0;
}

.menubar {
  grid-column: main/end;
  border: 0px solid var(--border-color);
  background-color: var(--bg1);
  display: flex;
  flex-direction: row;
  /*justify-content: center;*/
  align-items: center;
}
.menu {
  border: 1px solid var(--border-color);
  border-left-width: 0;
  padding: 0.5em 1em;
  box-sizing: border-box;
}
.spacer {
  border: 1px solid var(--border-color);
  border-left-width: 0;
  padding: 0.5em 1em;
  box-sizing: border-box;
  flex:1.0;
}

.dashboard {
  grid-column: dashboard/end;
  grid-row: main/end;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--bg2);
}

.dashboard > * {
  padding: 0.5em 0.5em;
  box-sizing: border-box;
}

.musicplayer .title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.todos {
  display: grid;
  grid-template-columns: 2em 1fr;
  border: 1px solid var(--border-color);
  width: 100%;
}

.window {
  min-width: 300px;
  min-height: 300px;
  border: 1px solid red;
  top: 2em;
  background-color: var(--bg2);
}
.window.primary {
  border: 3px solid green;
  grid-row: main/end;
}
.window.secondary {
  border: 3px solid red;
}
.window.tertiary {
  border: 3px solid blue;
}


.window .titlebar {
  border: 1px solid red;
  background-color: #cccccc;
}

.window .titlebar button {
  padding: 0.25em;
  border: 1px solid black;
  margin: 0;
}
.window .titlebar label {
  padding: 0.25em 0.5em;
}

.videobubble {
  position: absolute;
  padding: 0em;
  width: 100px;
  height: 100px;
  border: 5px solid red;
  top: 600px;
  left: 300px;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  overflow:hidden;
}

